.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.header__logoStart {
  width: 0;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 10px 20px 0 20px;
}

.header__searchStart {
  display: none;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasketStart {
  display: none;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}

.header__basketCount {
  margin: 0 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

/* header options animations */
.header__optionStart {
  display: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  color: #fff;
}
